Port {{BIN_PORT}}
Protocol 2

SyslogFacility local5

LoginGraceTime 1m
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

ClientAliveInterval 10
ClientAliveCountMax 3
UseDNS no

Subsystem	sftp	/usr/libexec/openssh/sftp-server

DenyUsers {{ENV_USER}}