Port {{BIN_PORT}}
Protocol 2

SyslogFacility local5

LoginGraceTime 1m
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

AcceptEnv LANG LC_*
AcceptEnv XMODIFIERS

X11Forwarding no
ClientAliveInterval 10
ClientAliveCountMax 3
UseDNS no

Subsystem   sftp    /usr/libexec/openssh/sftp-server
Subsystem   sftp    /usr/lib/openssh/sftp-server

DenyUsers {{ENV_USER}}