[Unit]
Description=nginx
After=network.target    #在此服务之后启动
#Before= #在此服务之前启动
#Wants=  #如果本单元启动了,则此单元也会启动
#StopWhenUnneeded
#Conflicts=shutdown.target
#DefaultDependencies=no

[Service]
Type=forking
#ExecStartPre=
ExecStart={{INSTALL_DIR_BIN_BIN}}/sbin/nginx
#ExecStartPost=
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
#PrivateTmp=true
#WorkingDirectory=
#User=
Restart=on-failure
#EnvironmentFile
#RemainAfterExit
#TimeoutStartSec
#SuccessExitStatus=
RestartSec=42   #每次重启前需要等待的秒数

[Install]
WantedBy=multi-user.target