[Unit]
Description=nginx
After=network.target

[Service]
Type=forking
PIDFile={{sBinPidInstallFile}}
ExecStartPre={{sBinInstallDir}}/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart={{sBinInstallDir}}/sbin/nginx -g 'daemon on; master_process on;'
ExecReload={{sBinInstallDir}}/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile {{sBinPidInstallFile}}
Restart=on-failure
RestartSec=42
TimeoutStopSec=5
KillMode=mixed
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target